* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url(images/table.jpeg);
    background-size: contain;
    height: 100vh;
}

.main-wrapper {
    width: 80%;
    margin: auto;
}

h1 {
    text-decoration: underline;
    font-size: 40px;
}

#completed {
    text-decoration: line-through;
}

.create-todo {
    text-align: center;
    padding-top: 2em;
}

.create-todo input, button {
    font: 1em 'Kalam';
    padding: 1em;
    border-radius: 0.5em;
}

.todo-section {
    display: flex;
    justify-content: center;
    gap: 2em; 
    font-family: 'Kalam', cursive;
    padding: 2em;
}

.background {
    background-color: rgb(253, 243, 231);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 23px 37px 5px, rgba(0, 0, 0, 0.3) 0px 18px 26px 8px;
    padding: 2em;
}

.flex-row {
    display: flex;
    gap: 1em;
}

input[type=checkbox] {
    height: 40px;
    width: 40px;
    cursor: pointer;
}

button {
    cursor: pointer;
}
